.site-navbar .navbar-header {
    background-color: #59c0eb;
}

.navbar-brand-logo {
    height: 50px;
}

@media (min-width: 768px)
{
  .after-run .site-menubar-unfold .site-navbar .navbar-header {
      height: 80px;
  }
}

.site-menubar-footer>a 
{
  width: 50%;
}

.navbar-brand-logo 
{
    display: block;
    width: 150px;
    height: 60px;
    background-image: url("../images/logo.png");
    background-repeat: no-repeat;
    margin-top: -10px;
}

.site-menubar-fold .navbar-brand-logo 
{
    width: 44px;
    height: 60px;
    background-image: url("../images/logo_small.png");
    margin-top: -20px;
}