<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://fleet-tracker.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>fleet-tracker.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>fleet-tracker</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$fleet-tracker</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="fleetdbEntities" Order="2" Enabled="False">
          <Destination Path="Data Source=fleet-tracker-db.database.windows.net;Initial Catalog=fleetdb;Persist Security Info=True;User ID=deadroot;Password=Met0tr0F;Application Name=EntityFramework" Name="Data Source=fleet-tracker-db.database.windows.net;Initial Catalog=fleetdb;Persist Security Info=True;User ID=deadroot;Password=Met0tr0F;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=fleet-tracker-db.database.windows.net;Initial Catalog=fleetdb;Persist Security Info=True;User ID=deadroot;Password=Met0tr0F;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\fleetdbEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Models.FleetModel.csdl|res://*/Models.FleetModel.ssdl|res://*/Models.FleetModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=fleet-tracker-db.database.windows.net;initial catalog=fleetdb;persist security info=True;user id=deadroot;password=Met0tr0F;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="FleetModel" Order="3" Enabled="False">
          <Destination Path="Data Source=fleet-tracker-db.database.windows.net;Initial Catalog=fleetdb;Persist Security Info=True;User ID=deadroot;Password=Met0tr0F;Application Name=EntityFramework" Name="Data Source=fleet-tracker-db.database.windows.net;Initial Catalog=fleetdb;Persist Security Info=True;User ID=deadroot;Password=Met0tr0F;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="fleet_tracker.Models.FleetModel, fleet-tracker" MigrationConfiguration="fleet_tracker.Migrations.Configuration, fleet-tracker" Origin="" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="fleetdbEntities1" Order="4" Enabled="False">
          <Destination Path="Data Source=fleet-tracker-db.database.windows.net;Initial Catalog=fleetdb;Persist Security Info=True;User ID=deadroot;Password=Met0tr0F;Application Name=EntityFramework" Name="Data Source=fleet-tracker-db.database.windows.net;Initial Catalog=fleetdb;Persist Security Info=True;User ID=deadroot;Password=Met0tr0F;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=fleet-tracker-db.database.windows.net;Initial Catalog=fleetdb;Persist Security Info=True;User ID=deadroot;Password=Met0tr0F;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\fleetdbEntities1_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Models.FleetModels.csdl|res://*/Models.FleetModels.ssdl|res://*/Models.FleetModels.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=fleet-tracker-db.database.windows.net;initial catalog=fleetdb;persist security info=True;user id=deadroot;password=Met0tr0F;multipleactiveresultsets=True;application name=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)fleetdbEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.FleetModel.csdl|res://*/Models.FleetModel.ssdl|res://*/Models.FleetModel.msl;provider=System.Data.SqlClient;provider connection string="data source=fleet-tracker-db.database.windows.net;initial catalog=fleetdb;persist security info=True;user id=deadroot;password=Met0tr0F;multipleactiveresultsets=True;application name=EntityFramework;App=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)fleetdbEntities1-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.FleetModels.csdl|res://*/Models.FleetModels.ssdl|res://*/Models.FleetModels.msl;provider=System.Data.SqlClient;provider connection string="Data Source=fleet-tracker-db.database.windows.net;Initial Catalog=fleetdb;Persist Security Info=True;User ID=deadroot;Password=Met0tr0F;MultipleActiveResultSets=True;Application Name=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)FleetModel-Web.config Connection String">
      <ParameterValue>Data Source=fleet-tracker-db.database.windows.net;Initial Catalog=fleetdb;Persist Security Info=True;User ID=deadroot;Password=Met0tr0F;MultipleActiveResultSets=True;Application Name=EntityFramework</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>